body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: linear-gradient( to top, #dfb9d8, #a753ba );
  background-size: 100vh;


}
.areadeentrada{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: 2px double white;
  border-radius: 2px;

}
.areadeconversao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
  height: 80vh;
  width:42%;
  border: 2px dotted #dfb9d8;
  border-radius: 2px;
}

.page-title {
  text-align: center;
  color: #dfb9d8;
  margin: 0 0 10px;
}

.page-subtitle {
  font-size: 25px;
  color: #dfb9d8;
  margin-top: 5px;
}

.page-logo {
  position: absolute;
  top: 45px;
  right: 45vw;
  width: 200px;
}

.alura-logo {
  display: flex;
  align-items:justify;
  flex-direction: column ;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 40px;
}
.redeSocial{
  width: 3vw;
  height: auto;
  padding: 2px;
}

.imagemConversor{
 display: inline-block;
 width: inherit;
 height: auto;
 margin: 2px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: #dfb9d8;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #dfb9d8;
}

h2 {
  color: #dfb9d8;
  font-size: 25px;
}
footer {
  align-items: center;
}